@CHARSET "UTF-8";
/* 공통 CSS */
body {
	1background-color: #ede8e1;
	1background-color: #478d7c;
	background-color: #32706e;
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto', sans-serif;
}

#baloon {
	position: relative;
	top: 10px; 
	background: -webkit-linear-gradient(#2c6260, #32706e);
	background: -o-linear-gradient(#2c6260, #32706e);
	background: -moz-linear-gradient(#2c6260, #32706e);
	background: linear-gradient(#2c6260, #32706e); 

/* 	background-color: #dcd8d0;
	background: -webkit-linear-gradient(#dcd8d0, #ede8e1);
	For Safari 5.1 to 6.0
	background: -o-linear-gradient(#dcd8d0, #ede8e1);
	For Opera 11.1 to 12.0
	background: -moz-linear-gradient(#dcd8d0, #ede8e1);
	For Firefox 3.6 to 15
	background: linear-gradient(#dcd8d0, #ede8e1); Standard syntax */
	border-radius: 1em;
	margin-left: 5%;
	margin-right: 5%;
	min-height: 550px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

#footer {
	text-align: center;
}

/* #boloc {
	display: inline-block;
	width: 100px;
	position: relative;
	top:-20px;
	left: 53px;
	z-index: -100;
	
} */

.footer_links li {
	display: inline-block;
	list-style: none;
	color: #cacfcf;
	font-weight: 200;
	padding: 5px;
}

/* 헤더 CSS */
#header {
	/* height:71px; */
	display: block;
	margin: auto;
	position: relative;
}

#logo {
	width: 200px;
	float: left;
	margin-left: 2%;
}

#myInfo {
	position: relative;
	display: inline-block;
	float: right;
	right: 8%;
}

#myThumbnail {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: inherit !important;
}

#myNickname {
	position: relative;
	top: -10px;
	font-size: 25px;
	font-weight: bold; 1
	color: #413f3c;
	color: #41403e;
}

#headerBarDiv {
	height: 100%;
	margin-top: 20px;
}

#btnsDiv {
	position: relative;
	display: inline-block;
	left: 32%;
}

#btnsUl {
	display: inline-block;
	margin-bottom: 0 !important;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

.menu-btn {
	display: inline-block;
	margin-left: 5px;
	font-size: 3em;
	1color: #86827a;
	color: #438784;
}

.menu-btn:HOVER {
	color: #fdf6ec;
	cursor: pointer;
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-ms-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;
}

/* 미디어쿼리 CSS */
/* 타블렛 */
@media all and (min-width:480px) and (max-width:920px) {
	#logo {
		display: none;
	}
}

@media all and (min-width:300px) and (max-width:480px) {
	#myInfo {
		display: none;
	}
	#logo {
		display: none;
	}
}

/* 데탑 */
@media all and (min-width:920px) {
	#header {
		width: 876px !important;
	}
	#baloon {
		width: 920px;
		margin: 0 auto;
	}
}