@CHARSET "UTF-8";


.container {
	background-color: #424242;
	margin-top: 50px;
	max-width: none !important;
	width:1000px;
}
#myPageAllDiv {
	padding:20px;
}

#calendarDiv {
	height:300px;
	margin-right:20px;
	background-color:#AFAFAF;
}
.contentsDiv{
	background-color:#FFFFDD;
	margin-top:20px;
	border:1px solid black;
	height:80px;
	margin-left:30px;
	border-radius:10px;
	padding:5px;
}
.timeDiv{
	width:20px;
	height:100px;
	position:absolute;
	left:10px;
	background-color: rgb(210, 255, 184);
	opacity: 0.7;
	margin-top:-25px;
}
.date{
	font-size: 20px;
	color: white;
	margin-top: 40px;
	margin-right: 0px;
	margin-left: -15px;
	}

#writeFormDiv{
	height: 150px;
	background-color: #FFFFFF;
	position:relative;
}
#writeMenuDiv{
	height: 30px;
	position:absolute;
	bottom:10px;
	right:10px;
}
#imgFormDiv{
	height: 30px;
	position:absolute;
	bottom:5px;
	left:10px;
}
#img_prev{
	position:absolute;
	left:100%;
	bottom:0;
	margin-left:10px;
}