@CHARSET "UTF-8";
.icon-pencil {color: white !important; }

ul {
	/* -webkit-padding-start: 0px; */
	list-style-type: none;
}

#myPageAllDiv {
	padding: 20px;
}

#calendarDiv {
	height: 300px;
	margin-right: 20px;
	1background-color: #efa87b;
	1background-color: #fdb553;
	background-color: #fde47d;
	
	background: -webkit-linear-gradient(#fde47d, #fddd7d); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#fde47d, #fddd7d); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#fde47d, #fddd7d); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#fde47d, #fddd7d); /* Standard syntax */
	
	border-radius: 10px;
}

.contents {
	1background-color: #FFFFDD;
	background-color: #fdf6ec;
	
	background: -webkit-linear-gradient(left, #fbefdd, #fdf6ec); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #fbefdd, #fdf6ec); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #fbefdd, #fdf6ec)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #fbefdd, #fdf6ec)); /* Standard syntax */
/* 	background: -webkit-linear-gradient(left, #fdf6ec , #fbecd6); For Safari 5.1 to 6.0
	background: -o-linear-gradient(right, #fdf6ec , #fbecd6); For Opera 11.1 to 12.0
	background: -moz-linear-gradient(right, #fdf6ec , #fbecd6); For Firefox 3.6 to 15
	background: linear-gradient(to right, #fdf6ec , #fbecd6); Standard syntax */
	
	margin-top: 20px;
	margin-left: 30px;
	border-radius: 10px;
	padding: 15px;
}

.contentsImg {
	width: 200px;
	border-radius: 10px;
}

.time {
	width: 20px;
	position: absolute;
	background-color: #418270;
	opacity: 0.7;
}

.date {
	font-size: 20px;
	color: white;
	margin-right: 0px;
	margin-left: -15px;
}

.contentsP {
	display: inline;
	vertical-align: top;
	word-wrap: break-word;
}

#writeFormDiv {
	height: 150px;
	background-color: #FFFFFF;
	position: relative;
}

#writeMenuDiv {
	height: 30px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#imgFormDiv {
	height: 30px;
	position: absolute;
	bottom: 5px;
	left: 10px;
}

#prevImg {
	position: absolute;
	left: 100%;
	bottom: 0;
	margin-left: 10px;
}

#textlength {
	display: inline;
	float: right;
}

.trash {
	width: 25px;
	float:right;
}



/* responsive */
@media ( min-width : 1px) and (max-width: 991px) {
	#baloon {
		max-width: 95% !important;
	}
	#calendarDiv {
		/* display: none !important; */
	}
}


