@CHARSET "UTF-8";

body {
}

#contentContainerDiv {
	display: inline;
	width: 70%;
	height: 600px;
	float: left;
}

#asideDiv {
	display: inline;
	width: 30%;
	height: 400px;
	float: right;
}

#dateDiv {
	width: 100%;
	height: 100px;
	background-color: red;
}

#likeDiv {
	width: 100%;
	height: 100px;
	background-color: blue;
}

#commentDiv {
	width: 100%;
}

#writeCommentDiv {
	width: 100%;
	height: 50px;
}

.comment-set {
	background-color : rgb(255, 216, 216);
	margin:10px;
	padding:5px;
}
