@CHARSET "UTF-8";


#todayModal body {
	background-color: #ede8e1;
	padding: 1%;
}

#todayModal #contentContainerDiv {
	display: inline;
	width: 70%;
	height: 550px;
	float: left;
	padding: 25px;
	background-color: #fcf8f0;
	border-radius: 1em;
	transition: 0.8s;
	-webkit-transition: 0.8s;
	transition: 0.8s;
	padding-top:5px;
	overflow: scroll;
}

#contentContainerDiv {
}
.modal-content {
	max-width: 900px;
	margin-left: 8%;
	height: 600px;
	
}
.modal-dialog{
	width:80%;
	padding-top: 5%;
} 


#asideDiv {
	display: inline;
	width: 28%;
	float: right;
	transition: 0.8s;
	-webkit-transition: 0.8s;
	background-color: #fcf8f0;
	border-radius: 1em;
	padding: 1%;
}

#commentInput {
	width: 70%;
	display: inline-block;
}

#uploadCommentBtn {
	width: 20%;
}

#dateDiv {
	display: inline-block;
	float: left;
	width: 70%;
	height: 100px;
	background-color: #ffffff;
	border-radius: 1em;
}

#commentDiv {
	margin-top: 10%;
	overflow-y: scroll;
	max-height: 250px;
}

#likeDiv {
	width: 30%;
	float: right;
	height: 100px;
}
.dateoftoday {
	font-size: 2em;
	text-align: center;
}
#profileDiv {
	position: relative;
	top: 10px;
	background-color: #ffffff;
	border-radius: 1em;
	clear: both;
}
#commentProfile{
	width: 25px;
	height: 25px;
	margin-right:5px;
	border-radius: 50%;
}
#profileDiv img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

#commentDiv {
	width: 100%;
}

#commentDiv #nickname{
	display:inline; float:right; color:rgb(112, 175, 106);
}
#commentDiv #content{
	display:inline; word-wrap: break-word;
}

#writeCommentDiv {
	margin-top: 5%;
	width: 100%;
	height: 50px;
}

#todayModal .comment-set {
	border:1px solid #ccc;
	border-radius: 3px;
	margin-top: 1%;
	padding: 5px;
}

#todayModal .contents {
	background-color: #ffffff;
	margin-top: 20px;
	margin-left: 5%;
	border-radius: 10px;
	padding: 15px;
	word-wrap: break-word;
}

#todayModal .timeWrapper {
	font-size: 20px;
	color: white;
	margin-right: 0px;
	margin-left: -15px;
}

#todayModal .time {
	width: 20px;
	position: absolute;
	background-color: #418270;
	opacity: 0.7;
}

#todayModal .contents {
	1background-color: #FFFFDD;
	background-color: #fdf6ec;
	
	background: -webkit-linear-gradient(left, #fbefdd, #fdf6ec); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #fbefdd, #fdf6ec); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #fbefdd, #fdf6ec)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #fbefdd, #fdf6ec)); /* Standard syntax */
/* 	background: -webkit-linear-gradient(left, #fdf6ec , #fbecd6); For Safari 5.1 to 6.0
	background: -o-linear-gradient(right, #fdf6ec , #fbecd6); For Opera 11.1 to 12.0
	background: -moz-linear-gradient(right, #fdf6ec , #fbecd6); For Firefox 3.6 to 15
	background: linear-gradient(to right, #fdf6ec , #fbecd6); Standard syntax */
	
	margin-top: 20px;
	margin-left: 30px;
	border-radius: 10px;
	padding: 15px;
}

#todayModal .contentsImg {
	width: 200px;
	border-radius: 10px;
}

#todayModal .row {
	position: relative;
}


#todayModal .date {
	font-size: 20px;
	color: white;
	margin-right: 0px;
	margin-left: -15px;
}

#todayModal .contentsP {
	display: inline;
	vertical-align: top;
	word-wrap: break-word;
}

@media all and (max-width: 480px) , all and
	(-webkit-min-device-pixel-ratio: 2) {
	#contentContainerDiv {
		width: 100%;
		padding: 10px;
	}
	#asideDiv {
		width: 100%;
	}
}