@CHARSET "UTF-8";


#todayModal body {
	background-color: #ede8e1;
}

.modal-body {
	padding: 3% !important;
}

.container {
	padding: 0% !important;
}

#todayModal #contentContainerDiv {
	display: inline;
	width: 70%;
	height: 550px;
	float: left;
	padding: 25px;
	padding-left: 40px;
	background-color: #c4d1d0;
	border-radius: 1em;
	transition: 0.8s;
	-webkit-transition: 0.8s;
	transition: 0.8s;
	padding-top:5px;
	overflow: scroll;
}

.modal-content {
	max-width: 900px;
	margin-left: 8%;
	height: 600px;
	
}
.modal-dialog{
	width:80%;
	padding-top: 5%;
} 


#asideDiv {
	display: inline;
	width: 28%;
	float: right;
	transition: 0.8s;
	-webkit-transition: 0.8s;
	background-color: #fff3cc;
	border-radius: 1em;
	padding: 1%;
	height: 550px;
}

#commentInput {
	width: 70%;
	display: inline-block;
}

#uploadCommentBtn {
	width: 20%;
}

#dateDiv {
	display: inline-block;
	float: left;
	width: 70%;
	background-color: #ffffff;
	border-radius: 1em;
}

#commentDiv {
	margin-top: 10%;
	overflow-y: scroll;
	max-height: 300px;
}

#likeDiv {
	width: 30%;
	float: right;
	height: 100px;
}
.dateoftoday {
	font-size: 2em;
	text-align: center;
}
#profileDiv {
	position: relative;
	top: 10px;
	background-color: #ffffff;
	border-radius: 1em;
	clear: both;
	font-size: 20px;
	font-weight: bold;
}
#commentProfile{
	width: 35px;
	height: 35px;
	margin-right:5px;
	border-radius: 50%;
}
#profileDiv img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

#commentDiv {
	width: 100%;
}

#commentDiv #nickname{
	display:inline;
	color:rgb(112, 175, 106);
	font-weight: bold;
	font-size: 17px;
}
#commentDiv #content{
	display:inline; 
	word-wrap: break-word;
	margin-left: 45px;
}

#writeCommentDiv {
	margin-top: 5%;
	width: 100%;
	height: 50px;
}

#todayModal .comment-set {
	border-radius: 3px;
	margin-top: 1%;
	padding: 5px;
	background-color: #fffaed;
	margin-bottom: 10px;
}

#todayModal .timeWrapper {
	font-size: 20px;
	color: white;
	margin-right: 0px;
	margin-left: -15px;
}

#todayModal .time {
	width: 20px;
	position: absolute;
	background-color: #5b7a78;
}

#todayModal .contents {
	background-color: #f8f6f4;
	margin-top: 20px;
	margin-left: 5%;
	border-radius: 10px;
	padding: 15px;
	word-wrap: break-word;
	margin-top: 20px;
	margin-left: 30px;
	border-radius: 10px;
	padding: 15px;
	width: 500px;
}

#todayModal .contentsImg {
	width: 200px;
	border-radius: 10px;
}

#todayModal .row {
	position: relative;
}


#todayModal .date {
	font-size: 20px;
	color: white;
	margin-right: 0px;
	margin-left: -15px;
}

#todayModal .contentsP {
	display: inline;
	vertical-align: top;
	word-wrap: break-word;
	font-size: 1.1em;
}

.like {
	position: relative;
	display: inline-block;
}

#heart {
	width: 40px;
	height: 40px;
	border-radius: 0%;
}

#likeDiv {
	position: relative;
	width: 30%;
	float: right;
	height: 100px;
}

#likeText {
	position: absolute;
	top:-13px;
	left:14px;
	color: white;
	font-size: 23px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	
	
}

.hour {
	background: rgb(242, 103, 103);
	height: 0;
	left: 50%;
	position: absolute;
	top: 50%;
	width: 0;
	border-radius: 35%;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	margin: -12px -2px 0;
	padding: 12px 2px 0;
}

.minute {
	background: #7DACC5;
	height: 0;
	left: 50%;
	position: absolute;
	top: 50%;
	width: 0;
	border-radius: 35%;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	margin: -18px -2px 0;
	padding: 18px 2px 0;
}

.clock {
	margin-right: 0px;
	margin-left: -15px;
	
	background-color: #FDE47D; 
	border-radius: 100%;
	display: block;
	height: 45px;
	width: 45px;
	position: relative;
	border: 0px solid #FFF;
}

@media all and (max-width: 480px) , all and
	(-webkit-min-device-pixel-ratio: 2) {
	#todayModal #contentContainerDiv {
		width: 100%;
		padding: 10px;
	}
	#asideDiv {
		width: 100%;
	}
}