@CHARSET "UTF-8";
.icon-comment-quotes{color:white !important;}
#contentContainer {
	
}
body {
	background-color: #ede8e1
	width: 100%;
}

#todayContainerDiv {
	width: 90%;
	text-align: initial;
	margin: 0 auto;
}

.today {
	position: relative;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	background-color: #f8f6f4;
	margin: 10px;
	width: 200px;
	height: 200px;
	cursor: pointer;
	border-radius: 0.7em;
	
	transition: 0.8s;
	-webkit-transition: 0.8s;
}

.today:HOVER {
	background-color: #fffbef;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}

.like {
	position: relative;
	display: inline-block;
	float: right;
}


#heart {
	width: 40px;
	height: 40px;
	border-radius: 0%;
}

#likeSpan {
	position: absolute;
	top:-13px;
	left:14px;
	color: white;
	font-size: 23px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	
	
}
.next-idea {
	position: absolute;
	display: none;
	right: 6%;
	top: 30%;
	color: #fde47d;
	font-size: 30pt;
}

.pre-idea {
	position: absolute;
	display: none;
	left: 6%;
	top: 30%;
	color: #fde47d;
	font-size: 30pt;
}

.next-idea:HOVER {color: #f7d345;}
.pre-idea:HOVER {color: #f7d345;}

.viewport {
	position: relative;
	top: 10%;
	height: 60%;
	overflow: hidden;
}

.contents {
	position: relative;
	left: 0px;
	width: 200px;
	word-break: break-all;
	font-size: 18px;
	color: #5b5959;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	
}

.content {
	position: absolute;
	width: 200px;
	padding: 10px;
	padding-top: 0px;
	color: #7f7f7f;
	
	transition: 0.8s;
	-webkit-transition: 0.8s;
}

.profile {
	position: absolute;
	text-align: initial;
	width: 100%;
	bottom: 0;
	background-color: white;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
}

.profile img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

@media all and (max-width: 480px) , all and
	(-webkit-min-device-pixel-ratio: 2) {
	#contentContainerDiv {
		width: 100%;
		padding: 10px;
	}
	.contents {
		position: relative;
		left: 0px;
		height: 160px;
		width: 100%;
	}
	.content {
		position: absolute;
		width: 100%;
	}
	.today {
		width: 88%;
		margin: 10px 0 10px 0;
	}
}
