@CHARSET "UTF-8";
.icon-comment-quotes{color:white !important;}
#contentContainer {
	width: 100%;
}

#todayContainer {
	width: 90%;
	text-align: center;
	margin: 0 auto;
}

.today {
	position: relative;
	display: inline-block;
	overflow: hidden;
	background-color: yellow;
	margin: 10px;
	width: 150px;
	height: 200px;
	cursor: pointer;
}

.next-idea {
	position: absolute;
	display: none;
	right: 20%;
	top: 30%;
}

.pre-idea {
	position: absolute;
	display: none;
	left: 20%;
	top: 30%;
}

.contents {
	position: relative;
	left: 0px;
	height: 160px;
	width: 150px
}

.content {
	position: absolute;
	width: 150px;
}