@CHARSET "UTF-8";

#contentContainerDiv {
	width: 100%;
}

#todayContainerDiv {
	width: 90%;
	text-align: center;
	margin: 0 auto;
}

.today {
	position: relative;
	display: inline-block;
	overflow: hidden;
	background-color: yellow;
	margin: 10px;
	width: 150px;
	height: 200px;
	cursor: pointer;
}

.next-idea {
	position: absolute;
	display: none;
	right: 20%;
	top: 30%;
}

.pre-idea {
	position: absolute;
	display: none;
	left: 20%;
	top: 30%;
}

.contents {
	position: relative;
	left: 0px;
	height: 160px;
	width: 150px
}

.content {
	position: absolute;
	width: 150px;
}

@media all and (max-width: 480px) , all and
	(-webkit-min-device-pixel-ratio: 2) {
	#contentContainerDiv {
		width: 100%;
		background-color: #DDDDDD;
		padding: 10px;
	}
	.contents {
		position: relative;
		left: 0px;
		height: 160px;
		width: 100%;
	}
	.content {
		position: absolute;
		width: 100%;
	}
	.today {
		width: 100%;
	}
}