

#thumbnail {
	border-radius: 50%;
}

#prevImg {
	border-radius: 50%;

}

#overlay {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	cursor: pointer;
	visibility: hidden;
}

#uploadImg {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	cursor: pointer;
	/* position: relative; */
	
}

/*  #uploadImg:HOVER {
	background-image: url('/image/pencil.png');
	background-size: 150px;
	border-radius: 10%;
	1background-position: -100px;
	
 	position: relative;
	z-index: 3; 
	
}  */

#triangle {

}

/* 폰트아이콘 */
.icon-book-read-streamline {
	font-size: 50pt !important;
	color: red;
} 

#baloon {
	background-color: #fcf8f0;
	border-radius: 1em;
	margin-top:1%;
	margin-left: 5%;
	margin-right: 5%;
	min-height: 550px;
}

#userInfo {
	background-color:white;
	border-radius:1em;
	padding: 10px;
	float:left;
	width:600px;
}

#userStats {
	background-color:white;
	border-radius:1em;
	padding: 10px;
	float:right;
	width: 220px;
	min-height: 450px;
}
#footer {
	text-align: center;
}

.footer_links li {
	display: inline-block;
	list-style: none;
	color:#a09e98;
	font-weight: 200;
	padding:5px;
}


/* 핸드폰 */
@media all and (max-width:401px) {
	body {
		background-color:#d3dde3;
	}
	
/* 	#logo {
		margin: 0 auto;
		text-align: center;
		float:none;
		display: inline-block;
	} */
}

/* 타블렛 */ 
@media all and (min-width:402px) and (max-width:876px){
	body {
		background-color:#fad2b5;
	}
}

/* 데탑 */
@media all and (min-width:876px){
	#header {
		width: 876px !important;
	}
	
/* 	#logo {
		margin: 30px 13px 0 15px;
		float:left;	
	} */
	#baloon {
		width: 876px;
		margin:0 auto;
		margin-top:1%;
		padding: 15px;
		
	}
	
	1#triangle  {
		width: 0px;
		height: 0px;
		border: 40px solid #fcf8f0;
		border-top-width: 0;
		border-right-color: transparent;
		border-left-color: transparent;
		position: relative;
		top: -20px;
		left: 530px;
	}

}